 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 1), rgba(250, 250, 250, 1));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

.u-section-1 .u-image-1 {
  width: 876px;
  height: 488px;
  margin: 33px 127px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.125rem;
  margin: 35px 527px 0 453px;
}

.u-section-1 .u-icon-1 {
  width: 105px;
  height: 31px;
  margin: 13px 495px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 106px;
  height: 31px;
  margin: -31px auto 0 420px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.125rem;
  margin: 75px 374px 0 312px;
}

.u-section-1 .u-icon-3 {
  width: 23px;
  height: 25px;
  color: rgb(97, 97, 97) !important;
  margin: -29px auto 0 427px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 24px;
  height: 24px;
  margin: -22px 395px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 25px;
  height: 24px;
  margin: 15px auto 0 418px;
}

.u-section-1 .u-image-4 {
  width: 25px;
  height: 24px;
  margin: -24px auto 0 453px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-family: Poppins;
  margin: -21px 481px 46px 493px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 64px;
  }

  .u-section-1 .u-text-1 {
    width: 286px;
    margin-right: 422px;
    margin-left: 348px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 405px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-2 {
    width: 528px;
    margin-right: 240px;
    margin-left: 368px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 443px;
    margin-left: 349px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -72px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-3 {
    width: 176px;
    margin-top: -86px;
    margin-right: 376px;
    margin-left: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 401px;
    margin-right: -9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 245px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -31px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-2 {
    width: 461px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 244px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -24px;
    margin-right: 147px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 14px;
    margin-left: 231px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -23px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -21px;
    margin-right: 238px;
    margin-left: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 301px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 257px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 183px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 180px;
    margin-left: 69px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 183px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -320px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 351px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -364px;
    margin-right: 148px;
    margin-left: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    height: 212px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 181px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 2px;
  }

  .u-section-1 .u-icon-3 {
    width: 16px;
    height: 17px;
    margin-top: -20px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-2 {
    width: 16px;
    height: 16px;
    margin-top: -14px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 15px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-4 {
    height: 25px;
    margin-top: -24px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-3 {
    margin: -22px 81px 60px 132px;
  }
}color: '#E5611E';